body {
    background-color: rgb(238, 235, 235);
    margin: 0px;
}
/*------------------------------------------------------------*/
.menu {
    background-color: white;
    padding: 10px 20px; /* Aumenta el espacio interno del menú */
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra sutil */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}
.menu-items {
    display: flex;
    align-items: center;
}

.img-menu {
    width: 180px; /* Establece el ancho máximo de la imagen */
    margin-left: 115px;
}

.menu-items a {
    margin-left: 20px; /* Agrega espacio entre los elementos */
    color: gray;
    text-decoration: none;
    font-size: 18px;
}
.menu-items a:hover {
    color: black;
    transition: color 0.5s;
}
.tres-puntos{
    width: auto;
    opacity: 50%;
    margin-left: 14px;
    background-color: #f2f2f2;
    border-radius: 8px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    border-color: transparent;
    padding: 2px 14px; 
}
.iniciar-sesion {
    border: none;
    border-radius: 25px;
    background-color: black;
    color: white;
    padding: 10px 30px; /* Reduce el espacio interno del botón */
    font-size: 16px;
    line-height: 1.5;
    margin-left: 310px;
    font-style: inherit;
    font-weight: 400;
    letter-spacing: -.5px;
    text-transform: uppercase;
}
/*------------------------------------------------------------*/
.cuadrado {
    margin-left: 40px;
    margin-right: px;
    width: 1350px;
    height: 568px;
    background: linear-gradient(to right, rgb(255, 166, 0), rgb(255, 238, 0));
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 15px;
} 
.cuadrado-contenido {
    padding: 20px;
}
  
.cuadrado-contenido h2 {
    font-size: 45px;
    color: white;
    margin-left: 60px;
    margin-top: 140px;
}
.cuadrado-contenido p {
    margin-top: -15px;
    font-size: 25px;
    color: white;
    margin-left: 60px;
}
  
.cuadrado-contenido a {
    display: inline-block;
    padding: 20px 39px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-left: 60px;
}
.carrito{
    width: 850px; /* Define el ancho deseado */
    margin-left: 542px;
    margin-top: -580px;
    position: absolute;
}
/*------------------------------------------------------------*/
.juegos{
    display: flex;
    margin-left: 100px;
    margin-top: 55px;
}
.juegos img{
    width: 150px;
    margin-left: 134px;
}
figcaption{
    color: gray;
    margin-left: 158px;
    margin-top: 5px;
    align-items: center;
}
.brawlio:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Levantamos los elementos 5px hacia arriba */
}
.clanes:hover{
    transform: translateY(-5px); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;/* Levantamos los elementos 5px hacia arriba */
}
.clash:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* Levantamos los elementos 5px hacia arriba */
}
.day:hover{
    transform: translateY(-5px); /* Levantamos los elementos 5px hacia arriba */
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}
/*------------------------------------------------------------*/
.cuadrado2{
    margin-left: 132px;
    margin-right: px;
    width: 1094px;
    height: 516px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 12px 16px rgba(80,51,5,.08), 0 -2px 12px rgba(80,51,5,.05);
    overflow: hidden;
    margin-top: 93px;
    
} 
.cuadrado-contenido2 {
    padding: px;
    margin-top: -11px;
}
  
.cuadrado-contenido2 h2 {
    font-size: 45px;
    color: black;
    margin-left: 60px;
    margin-top: 140px;
}
.cuadrado-contenido2 p {
    margin-top: -15px;
    font-size: 25px;
    color: gray;
    margin-left: 60px;
}
  
.cuadrado-contenido2 a {
    display: inline-block;
    padding: 20px 39px;
    background-color: rgb(255, 196, 0);
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    margin-left: 60px;
}
.carrito2{
    width: 651px;
    margin-left: 683px;
    margin-top: -607px;
    position: absolute;
}
.footer{
    margin-top: 50px;
    background-color: #000;
    padding: 60px 60vh;
}
.footer h4{
    color: white;
    display: flex;
}
.footer a{
    color: red;
    display: flex;
    text-decoration: none;
    text-align: right;
    margin-left: -169px;
}
